@charset "utf-8";


div.main{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/static/img/bg-login.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:calc(100vh);
    width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	/* -webkit-appearance: none; */
}

p {
	line-height: 1.5em;
}

.clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width: 100%;
}
#login{
    border-right:1px solid #fff;
    padding: 0px 22px;
    width: 100%;
}
.logo{
    color:#fff;
    font-size:53px;
    line-height: 60px;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #4585e2;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
#login form input[type="email"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
}

#login form input[type="button"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #4585e2;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    height: 43px;
    width: 120px;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
    display: flex;
    width: 100%;
}

.error-field {
    color: red;
    font-size: 15px;
    margin-top: 5px;
    text-align: left;
}

#toast-message {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}