<!DOCTYPE html>
<html>
<head>
	<title>Relatório de Contas à Pagar</title>
	<link rel="shortcut icon" href="/static/img//icon/favicon.ico" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />

	<style>
		@page {
			margin: 0px;

		}

		body{
			margin-top:15px;
		}

		.footer {
			margin-top:20px;
			width:100%;
			background-color: #ebebeb;
			padding:10px;
			position:absolute;
			bottom:0;
		}

		.titulorel{
			margin:0;
			font-size:25px;
			font-family:Arial, Helvetica, sans-serif;
			color:#6e6d6d;

		}

		.margem-superior{
			margin-top:30px;
		}

		.titulo-cardapio{
			width:100%;
			background-color: #f7f7f7;
			padding:3px;
			font-size:13px;
			font-weight: bold;
			margin-bottom:10px;
			margin-top:10px;
		}

        .container-title {
            text-align: center;
            border: 1px solid #c1c1c1;
            padding: 30px;
            margin: 40px auto;
        }
	</style>
</head>
<body>
{{$billpay := index .Data "billpay"}}
{{$start_date := index .Data "start_date"}}
{{$end_date := index .Data "end_date"}}
{{$total := index .Data "total"}}

    <div class="container container-title">
        <h1>ERP Restaurante & Sistemas</h1>
    </div>

	<div class="container">
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
            Ctrl + P para imprimir
            <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="hide()" aria-label="Close"></button>
        </div>			
		<div class="text-center">	
			<span class="titulorel">Relatório de Contas à Pagar</span>
		</div>
		
		<br><br>

	<small>
        <table class="table table-striped">
            <thead class="table-secondary">
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Funcionario</th>
                    <th>Vencimento</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{range $billpay}}
                <tr>
                    <td>{{.Description}}</td>
                    <td>R$ {{formatCurrency .Amount}}</td>
                    <td>{{.User.FirstName}}</td>
                    <td>{{formatDate .DueDate}}</td>
                    {{if eq .Status "pago"}}
                    <td><span class="badge bg-success">{{.Status}}</span></td>
                    {{else if eq .Status "pendente"}}
                    <td><span class="badge bg-danger">{{.Status}}</span></td>
                    {{end}}
                </tr>
                {{end}}
            </tbody>
        </table>
	</small>

	<hr>

	<div class="row margem-superior">
		<div class="col-md-12">
			<div class="text-start">
				<span class=""><strong>Pedíodo de Apuração: {{formatDate $start_date}} à {{formatDate $end_date}}</strong></span>
			</div>
            <div class="text-end">
				<span class=""><strong>Total R$: {{formatCurrency $total}}</strong></span>
			</div>
		</div>
	</div>
</div>


<div class="footer">
	<p style="font-size:14px" class="text-center">ERP Sistemas & Restaurante</p> 
</div>

<script>
    function hide() {
        document.querySelector('.alert').style.display = 'none';
    }
</script>

</body>
</html>